Voice_API_Master.json
{
  "name": "Voice_API_Master",
  "nodes": [
    {
      "parameters": {},
      "id": "58d146f3-e69b-4d9b-ab6e-5b2cd63ac009",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        288
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://127.0.0.1:8000/tts",
        "responseFormat": "file",
        "dataPropertyName": "TTS Voice",
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "lang",
              "value": "={{ $json.lang }}"
            },
            {
              "name": "slow",
              "value": "={{ $json.slow }}"
            }
          ]
        }
      },
      "id": "faf2f2b9-35e7-403f-a0c1-d3c360a3b5c3",
      "name": "Google TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        16,
        368
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://127.0.0.1:8000/upload-voice",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "Speaker Voice"
      },
      "id": "00421716-81dc-4d32-bc02-1be4196356f2",
      "name": "Upload Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        208,
        -160
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://127.0.0.1:8000/clone-voice",
        "responseFormat": "file",
        "dataPropertyName": "Cloned Voice",
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "lang",
              "value": "={{ $json.lang }}"
            },
            {
              "name": "voice_name",
              "value": "={{ $json['Speaker Name'] }}"
            }
          ]
        }
      },
      "id": "a027f105-a6e8-48f7-8665-98da7768eb09",
      "name": "Voice Cloning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        16,
        544
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/voices",
        "options": {}
      },
      "id": "5c0a25ef-5950-42dd-9a63-a5d3b20ac8b3",
      "name": "List Voices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        16,
        160
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.speaker_path }}",
        "options": {
          "fileExtension": ".wav",
          "fileName": "Speaker Voice",
          "mimeType": "audio/wav",
          "dataPropertyName": "Speaker Voice"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        16,
        -160
      ],
      "id": "636aea02-fa97-472e-a284-bc7c40aa7559",
      "name": "Read Voice",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Set Input Data').item.json.pdfFilePath }}",
        "options": {
          "fileExtension": ".pdf",
          "fileName": "pdfFile",
          "mimeType": "application/pdf",
          "dataPropertyName": "pdfFile"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        16,
        -320
      ],
      "id": "217b8380-d54f-4785-8fc9-50206a77d7e4",
      "name": "Read PDF",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://127.0.0.1:8000/upload-pdf",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "pdfFile"
      },
      "id": "7d352eaa-f2b4-4f12-b6f7-5d154558a68b",
      "name": "Upload PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        208,
        -320
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/pdfs",
        "options": {}
      },
      "id": "e27e8eca-64e1-4584-b0d2-51756756989f",
      "name": "List PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        16,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "Data",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "4a666853-a46a-46c4-8e41-26535f48593b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3e041f68-b433-40ad-93ae-8d707d1547e7",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "Conversion",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -672,
        288
      ],
      "id": "c4505413-bf78-4323-9c61-2fc62ef251db",
      "name": "Switch"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "=Read PDF"
            },
            {
              "operation": "contains",
              "value2": "Read Voice",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "List PDF",
              "output": 2
            },
            {
              "operation": "contains",
              "value2": "List Voices",
              "output": 3
            }
          ]
        }
      },
      "id": "7c84400f-f20e-4d26-aeb8-0ad357c96038",
      "name": "Switch Action Data",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -256,
        -128
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "=Google TTS"
            },
            {
              "operation": "contains",
              "value2": "Voice Cloning",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PDF To TTS",
              "output": 2
            },
            {
              "operation": "contains",
              "value2": "PDF To Voice Clone",
              "output": 3
            }
          ]
        }
      },
      "id": "4559de7f-b00c-4f48-94f3-81a1b2ba8a61",
      "name": "Switch Action Convertion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -240,
        592
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "action",
              "value": "PDF To TTS Conversion"
            }
          ]
        },
        "options": {}
      },
      "id": "33aafbca-ce39-4b49-874f-0f8c9f914240",
      "name": "Set Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -880,
        288
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "pdfFilePath",
              "value": "C:/Users/Hashim Ali/Downloads/GigaHorse.pdf"
            },
            {
              "name": "speaker_path",
              "value": "D:/7 Semester/Gen AI/Demo Assignment/Text-To-Speech-To-Clone/uploaded_sample.wav"
            }
          ]
        },
        "options": {}
      },
      "id": "8c91acca-fedd-4acb-8d4b-069c1c9b9340",
      "name": "Set Input Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -464,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "Hello from n8n!"
            },
            {
              "name": "lang",
              "value": "en"
            },
            {
              "name": "slow",
              "value": "false"
            },
            {
              "name": "PDF Name",
              "value": "pdfFile"
            },
            {
              "name": "Speaker Name",
              "value": "Speaker Voice"
            }
          ],
          "number": [
            {
              "name": "start_page",
              "value": 1
            },
            {
              "name": "end_page",
              "value": 3
            }
          ]
        },
        "options": {}
      },
      "id": "c53eda40-3b32-46ba-815a-e8bd72c99559",
      "name": "Set Input Conversion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -480,
        544
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://127.0.0.1:8000/pdf-tts",
        "responseFormat": "file",
        "dataPropertyName": "={{ $('Set Input Conversion').item.json['PDF Name'] }} To Voice",
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "pdf_name",
              "value": "={{ $json['PDF Name'] }}"
            },
            {
              "name": "lang",
              "value": "={{ $json.lang }}"
            },
            {
              "name": "slow",
              "value": "={{ $json.slow }}"
            },
            {
              "name": "start_page",
              "value": "={{ $json.start_page }}"
            },
            {
              "name": "end_page",
              "value": "={{ $json.end_page }}"
            }
          ]
        }
      },
      "id": "cd714dd1-899b-46ee-82b0-12e8a2249333",
      "name": "PDF To TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        16,
        704
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://127.0.0.1:8000/pdf-clone-voice",
        "responseFormat": "file",
        "dataPropertyName": "={{ $('Set Input Conversion').item.json['PDF Name'] }} To Voice In {{ $('Set Input Conversion').item.json['Speaker Name'] }} Voice",
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "pdf_name",
              "value": "={{ $('Set Input Conversion').item.json['PDF Name'] }}"
            },
            {
              "name": "voice_name",
              "value": "={{ $('Set Input Conversion').item.json['Speaker Name'] }}"
            },
            {
              "name": "lang",
              "value": "={{ $('Set Input Conversion').item.json.lang }}"
            },
            {
              "name": "start_page",
              "value": "={{ $('Set Input Conversion').item.json.start_page }}"
            },
            {
              "name": "end_page",
              "value": "={{ $('Set Input Conversion').item.json.end_page }}"
            }
          ]
        }
      },
      "id": "d68a5418-c037-4fef-b78a-384d43c63c76",
      "name": "PDF To Voice Clone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        16,
        864
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Voice": {
      "main": [
        [
          {
            "node": "Upload Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDF": {
      "main": [
        [
          {
            "node": "Upload PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Input Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Input Conversion",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch Action Data": {
      "main": [
        [
          {
            "node": "Read PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Voices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action Convertion": {
      "main": [
        [
          {
            "node": "Google TTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Voice Cloning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF To TTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF To Voice Clone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Data": {
      "main": [
        [
          {
            "node": "Switch Action Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Conversion": {
      "main": [
        [
          {
            "node": "Switch Action Convertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "738585e2-c132-4e59-9e98-40ee2dedb11e",
  "meta": {
    "instanceId": "c1b799ac004e8877a59c0fb419238cc908e14a4de09e6d761dc9879d653381ca"
  },
  "id": "B2XuxNYdc59Rvkfd",
  "tags": []
}